/*@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
	 font-family:Rubik,sans-serif;
	 position:relative;
	 font-weight:400;
	 font-size:15px
}
ul {
	 padding:0;
	 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
	 text-decoration:none;
	 -webkit-transition:.3s ease;
	 -o-transition:.3s ease;
	 transition:.3s ease
}
a:focus {
 	outline:0
}
img {
 	max-width:100%
}
p {
	 font-size:16px;
	 line-height:30px;
	 color:#898b96;
	 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
	 margin:0;
	 font-weight:400;
	 padding:0;
	 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
    padding: 40px 0 10px 0;
}
.footer-top{
	margin-top: 50px;
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li {
    color: #000000;
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}

.navbar li.active {
    background: rgb(30, 99, 255);
    background: linear-gradient(-100deg, rgba(196, 20, 254, 0.98) 25%, rgb(30, 99, 255) 176%);
} 

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    border: 1px solid #ffffff17;
    background: #ffffff24;
}

.footer-menu ul li .text-height{
	line-height: 10px;
}

.nav-link{
	font-size: 13px;
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

.owl-dot {
     width: 10px;
     height: 10px;
     border-radius: 100%;
     border: 1px solid #ccc;
     background: #333;
     margin-right: 5px;
     display: inline-block;  /*for making them horizontal, if you want vertical then you can use- display: block*/
}

#main-carousel .owl-item img {
    display: block;
    width: 50%;
}

.navbar-expand-lg{
	padding: 3rem
}

.backgd_img{
	background-image: url('../images/main-img.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
}

.shadow{
	height: 441px;
	background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
	background: -webkit-linear-gradient(rgba(0, 41, 190, 0.84), rgba(121, 0, 143, 0.89));
	background: linear-gradient(-100deg, rgba(0, 41, 190, 0.84) -4%, rgba(121, 0, 143, 0.89) 100%); /* The least supported option. */
}

.shadow-img{
	background-image: url('../images/shadow-img.jpg');
	background-position: 100% 75%;
	background-repeat: no-repeat;
	background-size: cover;
}

.shadow-middle{
	padding: 125px 0px 0px 0px;
}

.edges-panal{
	color: #fff;
    background: -webkit-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url('../images/right-panal.jpg');
    background: -o-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url('../images/right-panal.jpg');
    background: -moz-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url('../images/right-panal.jpg');
    background: linear-gradient(52deg, #E2E7E5 55%, rgba(0, 0, 0, 0) 42%), url('../images/right-panal.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 106% 63%;
    text-align: left;
    height: 490px;
}

.cards-shadow:hover, .cards-shadow p small:hover{
	color: #fff;
	background: rgb(30, 99, 255);
    background: linear-gradient(-100deg, rgba(196, 20, 254, 0.98) 25%, rgb(30, 99, 255) 176%);
}
.cards-shadow p small:hover{
	color: #fff;
}

.extra-padding {
	padding-top: 265px;
}
.bg-purple{
	background-color: #291456;
}

.btn-purple{
	color: #ffffff;
	background: rgb(30, 99, 255);
    background: linear-gradient(-100deg, rgba(196, 20, 254, 0.98) 25%, rgb(30, 99, 255) 176%);
}

.text-purple{
	color: #7061ff;
}

.btn-white {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

.btn-white:hover {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

.input-size{
	padding-bottom: 28px;
    padding-top: 28px;
}

.dropdown-toggle-ml::after {
    margin-left: 5.255em;
}
.gradien-green{
	background: rgba(0, 190, 76, 0.98);
    background: linear-gradient(-100deg, rgba(0, 190, 76, 0.98) 25%, rgba(30,99,255,1) 176%);
}
.mw-80{max-width: 80%}
.mw-70{max-width: 70%}
.card-shadow{
	box-shadow: 0 20px 50px #33333357;
}

.card-footer:hover{
	background: rgba(0, 190, 76, 0.98);
    background: linear-gradient(-100deg, rgba(0, 190, 76, 0.98) 25%, rgba(30,99,255,1) 176%);
}
.card-footer small {
	color: #ffffff;
}
.font-65{
	font-size: 65px;
}
.card-size{
	min-height: 85px;
}
#owl-slider .owl-item img {
    display: block;
    width: 100%;
}

.text-brightcyan{
	color: #24b1bd;
}

.custom-hr{
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.custom-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0);
}

.card-footer:hover {
    color: #ffffff;
}

.section-spasing{
	margin: 60px 0 60px 0;
}

.card-title {
    margin-top: 1.75rem;
    min-height: 70px;
}

.font-80 {
    font-size: 80px;
}

/*------------------------Media Queries---------------------------------*/


@media (max-width: 1920px) {
	.edges-panal {
	    color: #fff;
	    background: -webkit-linear-gradient(65deg, #E2E7E5 55%, rgba(0, 0, 0, 0) 47%), url(../images/right-panal.jpg);
	    background: -o-linear-gradient(65deg, #E2E7E5 55%, rgba(0, 0, 0, 0) 47%), url(../images/right-panal.jpg);
	    background: -moz-linear-gradient(65deg, #E2E7E5 55%, rgba(0, 0, 0, 0) 47%), url(../images/right-panal.jpg);
	    background: linear-gradient(52deg, #E2E7E5 55%, rgba(0, 0, 0, 0) 47%), url(../images/right-panal.jpg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 100% 35%;
	    text-align: left;
	    height: 558px;
	    padding-top: 30px;
	}

	.shadow-middle {
	    padding: 200px 0px 0px 0px;
	}
	.shadow {
	    height: 650px;
	    background: #C33764;
	    background: -webkit-linear-gradient(rgba(0, 41, 190, 0.84), rgba(121, 0, 143, 0.89));
	    background: linear-gradient(-100deg, rgba(0, 41, 190, 0.84) -4%, rgba(121, 0, 143, 0.89) 100%);
	}
}


@media (max-width:1024px) {
	.h1, h1 {
	    font-size: 1.5rem;
	}
	 .footer-menu {
	  padding-left:0
	 }
	 .navbar .show, .navbar .collapsing{
		background-color: #030303b8;
	    color: #c6c6c6;
	    padding: 22px;
	}
}


@media (max-width:991px) {
	 .footer-menu {
	  padding-left:0
	 }
	 .navbar .show, .navbar .collapsing{
		background-color: #030303b8;
	    color: #c6c6c6;
	    padding: 22px;
	}
}


@media (max-width: 768px) {

	.section-spasing {
	    margin: 30px 0 30px 0;
	}

	.cards-shadow .small, .cards-shadow small {
	    font-size: 60%;
	    font-weight: 400;
	    line-height: 5px;
	}

	.edges-panal {
	    background-size: cover;
	    background-position: 28% 63%;
	}

	#owl-slider .owl-item img {
	    display: block;
	    width: 70%;
	}
	.edges-panal img {
	    display: block;
	    width: 50%;
	}

	.footer-big .footer-menu ul li a,
	.footer-big p, .footer-big ul li {
	    font-size: 12px;
	    line-height: 25px;
	}
	.dropdown-toggle-ml {
		width: 100%;
	}
	.ipad-wx{
		padding: 0px 5px 0 5px;
	}
	.h5, h5 {
	    font-size: 1.05rem;
	}
	p {
	    font-size: 12px;
	}
	.font-65 {
	    font-size: 55px;
	}

	.cards-shadow{
		min-height: 210px;
	}
	.h1, h1 {
	    font-size: 1.2rem;
	}
	.navbar-nav .nav-link {
	    padding: 15px 0 15px 15px;
    	font-size: 18px;
	}

	.navbar .show, .navbar .collapsing{
		background-color: #030303b8;
	    color: #c6c6c6;
	    padding: 22px;
	}
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}


@media (max-width:414px) {

	.section-spasing {
	    margin: 10px 0 10px 0;
	}
	.card-text{
		font-size: 12px;
	}
	.card-size {
	    min-height: 50px;
	}
	.shadow {
    	height: 925px;
	}
	.card-title{
		font-size: 1rem;
	}
	.dropdown-menu {
    	min-width: 20rem;
    }
	.h1, h1 {
	    font-size: 1.5rem;
	}
	.edges-panal {
	    color: #fff;
	    background: -webkit-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: -o-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: -moz-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: linear-gradient(52deg, #e2e2e2 42%, rgba(255, 255, 255, 0.28) 86%), url(../images/right-panal.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 75% 62%;
	    text-align: left;
	    height: 510px;
	}
	.sub-title {
	    font-size: 22px;
	}
	.controls h5{
		font-size: 16px;
	}

	.extra-padding {
	    padding-top: 0px;
	}

	.backgd_img {
	    height: 410px;
	}
	.card-shadow h5{
		font-size: 16px;
	}
	.navbar-nav .nav-link {
	    padding: 15px 0 15px 15px;
    	font-size: 18px;
	}

	.navbar .show, .navbar .collapsing{
		background-color: #030303b8;
	    color: #c6c6c6;
	    padding: 22px;
	    z-index: 2;
	}
	.bg-purple {
	    background-color: #291456;
	    font-size: 20px;
	}

	.navbar-expand-lg{
		padding: 0rem
	}

	.footer-menu {
	 	 padding-left:0
	}
}


@media (max-width:375px) {
	.section-spasing {
	    margin: 10px 0 10px 0;
	}
	.card-size {
	    min-height: 50px;
	}
	.card-text{
		font-size: 12px;
	}
	.card-title{
		font-size: 1.15rem;
	}
	.dropdown-menu {
    	min-width: 16rem;
    }
	.h1, h1 {
	    font-size: 1.5rem;
	}
	.edges-panal {
	    color: #fff;
	    background: -webkit-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: -o-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: -moz-linear-gradient(65deg, #E2E7E5 56%, rgba(0, 0, 0, 0) 30%), url(../images/right-panal.jpg);
	    background: linear-gradient(52deg, #e2e2e2 42%, rgba(255, 255, 255, 0.28) 86%), url(../images/right-panal.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 75% 62%;
	    text-align: left;
	    height: 510px;
	}
	.sub-title {
	    font-size: 22px;
	}
	.controls h5{
		font-size: 16px;
	}

	.extra-padding {
	    padding-top: 0px;
	}

	.backgd_img {
	    height: 410px;
	}

	.card-shadow h5{
		font-size: 16px;
	}
	.navbar-nav .nav-link {
	    padding: 15px 0 15px 15px;
    	font-size: 18px;
	}
	.navbar .show, .navbar .collapsing{
		background-color: #030303b8;
	    color: #c6c6c6;
	    padding: 22px;
	    z-index: 2;
	}
	.bg-purple {
	    background-color: #291456;
	    font-size: 14px;
	}

	.navbar-expand-lg{
		padding: 0rem
	}

	.footer-menu {
	 	 padding-left:0
	}
}
